body {
    all:unset;
}

.instagram-wrapper {
    width: 100%;
    height: 125rem;    
    background-color: #FAFAFA; /**/
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.top-bar {
   display: flex;
   justify-content: space-between;
   align-items: center; 
   background-color: #fff;
   width: 100%; /*OK*/
   height: 3.375rem;
   border: none;
   border-bottom: 0.0625rem solid #DBDBDB;
   padding: 0rem 4.375rem;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 0.75rem;
    gap: 0.625rem;
}

.vl {
    border-left: 0.0625rem solid #DBDBDB;
    height: 1.375rem;
}

.rectangle-int-top {
    display: flex;
    flex-wrap: nowrap;
}

.rectangle-int-top-left {
    display: flex;
    width: 19rem;
    padding-left: 0.9375rem;
    padding-top: 0.625rem;
    justify-content: flex-start;
    align-items: center;
    gap: 0.875rem;
}

.rectangle-int-top-left .icon {
    width: 1.375rem;
    height: 1.375rem;
    pointer-events: none;
}

.rectangle-int-top-right {
    display: flex;
    justify-content: flex-end;
    width: 19rem;
    padding-right: 1.10125rem;
    padding-top: 0.625rem;
}

.rectangle-int-top-right .icon {
    width: 1.375rem;
    height: 1.375rem;
    pointer-events: none;    
}

.logo .icon {
    width: 1.375rem;
    height: 1.375rem;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #FAFAFA;
    border-radius: 0.1875rem;
    font-family: 'Roboto';
    font-size: 0.75rem;
    text-align: center;
    color: #979797;
    width: 13.4375rem; /*OK*/
    height: 1.75rem;
    border: 0.0625rem solid #DBDBDB;
}

.search-bar:focus-visible {
    outline: none;
}

.search-bar:focus::-webkit-input-placeholder {
   color: transparent;
}

.action-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse; /*OK*/
    gap: 1.125rem;
}

.action-menu .icon {
    width: 1.375rem;
    height: 1.375rem;
    pointer-events: none;
}

button {
    border-style: none;
    background-color: #fff;
    width: 1.375rem;
    height: 1.375rem;
    gap: 0rem;
    cursor: pointer;
    padding: 0;
}

.main-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: auto;
}

.left-group {
    display: flex;
    padding: 0;
    margin-top: 2.125rem;
    width: 38.375rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.stories-bar {
    width: 38.375rem;
    height: 7.375rem;
    margin-bottom: 1.5rem;
    background-color: red;
}

.news-feed .container-1 {
    width: 38.25rem;
    height: 46.8125rem;
    margin-bottom: 3.75rem;
    background-color: #fff;
    border: 1px solid lightgray;
}

.news-feed .container-2 {
    width: 38.25rem;
    height: 46.8125rem;
    margin-bottom: 3.75rem;
    background-color: #fff;
    border: 1px solid lightgray;
}

.news-feed .container-3 {
    width: 38.25rem;
    height: 46.8125rem;
    margin-bottom: 3.75rem;
    background-color: #fff;
    border: 1px solid lightgray;
}

.rectangle-ig {
    display: flex;
    flex-wrap: nowrap;
    width: 38.25rem;
    height: 3.8125rem;
}

.rectangle-ig-left {
    display: flex;
    width: 20rem;
    height: 3.8125rem;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 1.0625rem;
}

.rectangle-ig-address {
    font-family: 'Roboto';
    font-size: 0.875rem;
    width: 6.8125rem;
    height: 1.3125rem;
    color: #262626;
    margin-left: 0.9375rem;
    font-weight: 500;
}

.ig {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.rectangle-ig-right {
    display: flex;
    width: 18.25rem;
    height: 3.8125rem;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    padding-right: 1.0625rem;
}

.photo {
    width: 38.25rem;
    height: 38.25rem;
}

.right-group {
    width: 18.75rem;
    height: 37.5rem;
    margin-top: 2.125rem;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    background-color: #0ff;
}

/* media queries */

@media (max-width: 85.375rem) {
    .instagram-wrapper {
        height: 125rem;
    }
}